################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pluralsight-Otel-Backend/Basket.API/.vscode
